{% extends 'base.html.twig' %}

{% block title %}Page d'ajout de film{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
        <h1>Ajouter un film</h1>
        {{ form(form) }}
        </div>
    </div>
</div>
{% endblock %}