{% extends 'base.html.twig' %}

{% block title %}Page de modification d'un film ou de serie{% endblock %}

{% block main %}
<section class="container ">
        <div class="row">
            <div class="col ">
        <h1>Modifier un film</h1>
        {{ form(form) }}
        </div>
    </div>
</section>
{% endblock %}