{% extends 'base.html.twig' %}

{% block title %} Mes saisons{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
        <h1>Ajouter une saison</h1>
         {# {% for season in movies.seasons %}
        <h2>{{ season.number }}</h2>
             {% endfor %} #}
        </div>
    </div>
</div>
{% endblock %}
